
<%= react_component "Landing" %> 

<div class="welcome_landing">
  <div class="container" style="margin-top:100px;">
    <div class="row">
      <div class="col-md">
        <div class="welcome">
          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Welcome to Neighborly</div>
              <div class="card-body text-primary">
                <h5 class="card-text"><% if user_signed_in? %>
                <%= image_tag(current_user.image.url) %>
                <h5>Hello <%= current_user.first_name %> </h5>
                <%= link_to "Profile", current_user %>
                <br />
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                <% else %>
                <p>Where we are all here to help someone</p>
                <% end %></p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md"style="justify-content:center;">
        <div class="help_counter">
          <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">How much help is needed?</div>
                  <div class="card-body text-primary">
                     <%= render ('layouts/counter') %> 
                  </div>
          </div>
        </div>
      </div>
</div>
