<%= simple_form_for @request do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.input :title, required: true, autofocus: true %>
      <%= f.input :description, required: true, autofocus: true %>
      <%= f.input :address, required: true, autofocus: true %>
      <%= f.select :request_type, options_for_select(%w[Request Help]) %>
     
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, "Get help!" %>
    </div>
  <% end %>