<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row" id="help-main" style="margin-top:50px;">

    <div class="col-sm-4">
      <h1>Help Needed!</h1>

      <table>
        <thead>
          <tr>
            <th>Request</th>
          
          </tr>
        </thead>

        <tbody>

          <% @requests.each do |request| %>
          
            <tr>
              <td><%= request.title %></td>
              <td><%= request.request_type %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary"><%= link_to 'New Request', new_request_path %></button>
    </div>
    <div class="col-sm-8">

    <%= render ("layouts/map") %>
      
    </div>
  </div>
</div>
