<p id="notice"><%= notice %></p>

<p>
  <strong> Title:</strong>
  <%= @request.title %>
</p>
<p>
  <strong> Description:</strong>
  <%= @request.description %>
</p>
<p>
  <strong> Address:</strong>
  <%= @request.address %>
</p>
<p>
  <strong> Type:</strong>
  <%= @request.request_type %>
</p>

<h1> TESTING MESSAGING </h1>

<%= link_to 'Message', conversations_path(@conversation) %> 

<h1> ENDING </h1>



<br/>
<br/>



<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
