<p id="notice"><%= notice %></p>

<p>
  <strong> title:</strong>
  <%= @request.title %>
</p>
<p>
  <strong> description:</strong>
  <%= @request.description %>
</p>
<p>
  <strong> address:</strong>
  <%= @request.address %>
</p>
<p>
  <strong> request_type:</strong>
  <%= @request.request_type %>
</p>

<button type="button" class="btn btn-primary"><%= link_to 'Volunteer', converstations_path %></button>




<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
