<p id="notice"><%= notice %></p>

<p>
  <strong> Title:</strong>
  <%= @request.title %>
</p>
<p>
  <strong> Description:</strong>
  <%= @request.description %>
</p>
<p>
  <strong> Address:</strong>
  <%= @request.address %>
</p>
<p>
  <strong> Type:</strong>
  <%= @request.request_type %>
</p>
<p>
  <strong> Volunteers:</strong>
  <%= @request.done %>
</p>

<h2> To help please complete both steps</h2>


<h3> 1. Select if you can complete </h3>

<%= simple_form_for @request, url: incr_done_request_path do |f| %>

  <%= f.radio_button :done, 1 %>I am helping<br/><br/>
  <%= f.radio_button :done, -1 %>Maybe next time<br/><br/>

<%= f.button :submit %>



<% end %>



<br/>

<br/>


<h3> 2. Send message to organize help </h3>

<%= link_to 'Message', conversations_path(@conversation) %> 



<br/>
<br/>



<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
