<p id="notice"><%= notice %></p>

<p>
  <strong> Title:</strong>
  <%= @request.title %>
</p>
<p>
  <strong> Description:</strong>
  <%= @request.description %>
</p>
<p>
  <strong> Address:</strong>
  <%= @request.address %>
</p>
<p>
  <strong> Type:</strong>
  <%= @request.request_type %>
</p>

<button type="button" class="btn btn-primary"><%= link_to 'Volunteer', conversation_messages_path(@conversation) %></button>

# <script>

# <p>if this is clicked 5 times, the request needs to count up...until greater than 5 makes it disabled </p> 

# </script>

<br/>
<br/>



<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
